# We use python 3.10 and cuda 11.8
# We only pin the versions of critical libraries (e.g. torch).

# Pytorch
torch==2.2.2

# Huggingface transformers
transformers==4.40.2
datasets

#cudf
--extra-index-url https://pypi.nvidia.com
cudf-cu11==23.12.*
cuml-cu11==23.12.*

# Computational libraries
scipy
scikit-learn

# Testing
pytest

# Misc utilities
tqdm

# Formatting, Linting, and Typechecking
black[jupyter]